{% extends 'base.html' %}
{% load static %}
{% block title %} ClientUpdate {% endblock title %}
{% block css %} <link rel="stylesheet" href="{% static 'css/client_update.css' %}"/> {% endblock css %}
{% block bodycontent %}
<div class="container text-center">
    <h4 class="text-danger text-decoration-underline">Update Record</h4>
    <div class="text-center p-3">
      <form action="" class="mx-auto update-form border border-primary py-3" method="POST">
        {% csrf_token %} 
        {{form.as_p}}
        <input type="submit" value="Update" class="btn btn-danger">
    </form>
    </div>

</div>
                                           
{% endblock bodycontent %}